{% extends 'base.html'%}
{% block styles%} {{ super() }}<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}

{% block content %}
<div class="container">

{% for blog in blogs %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron jumbotron-fluid text-center">
            <h3>{{blog.title}}</h3>
            <h5>{{blog.subtitle}}</h5>
            <h6>Written By: {{blog.author}}</h6>
            <a href="/post/{{blog.id}}" target="_blank" ><button type="submit" class="btn btn-success">View Post</button></a>

        </div>
    </div>
</div>
{% endfor %}
<div class="container">

{% endblock %}