{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}


{% block content %}

<div class="container">
{% for blog in posts %}
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron jumbotron-fluid text-center">
            <h3>{{blog.title}}</h3>
            <h5>{{blog.subtitle}}</h5>
            <h6>{{blog.author}}</h6>
            <p>{{blog.content}}</p>
            <a href="/post/{{blog.id}}/comment" ><button type="submit" class="btn btn-primary">Leave Comment</button></a>

        </div>
    </div>



{% if comments is defined %}
    <div class="col-md-8 offset-md-2">
    <div class="jumbotron jumbotron-fluid text-center">

    {% for comment in comments %}
        <h3>{{comment.comment_title}}</h3>
        <p>{{comment.comment}}</p>
        <a href="/post/{{blog.id}}/comment/{{comment.id}}/delete"><button type="submit" class="btn btn-danger">Delete Comment</button></a>
    {% endfor %}
    </div>
    </div>
{% else %}
{% endif %}
{% endfor %}
{% endblock %}